<table class="form-table">
  <tr>
    <th colspan="10" class="section-title">
      1. DATOS PERSONALES DEL ESTUDIANTE
    </th>
  </tr>

  <tr>
    <th>Apellidos:</th>
    <td colspan="4">{{items.apellidos}}</td>

    <th>Nombre:</th>
    <td colspan="4">{{items.nombre}}</td>
  </tr>

  <tr>
    <th>Lugar de Nacimiento:</th>
    <td colspan="3">{{items.lugarDeNacimiento}}</td>

    <th>Día:</th>
    <td>{{partes[2]}}</td>
    <th>Mes:</th>
    <td>{{partes[1]}}</td>
    <th>Año:</th>
    <td>{{partes[0]}}</td>
  </tr>

  <tr>
    <th>T.I o R.C. #:</th>
    <td colspan="2">{{items.identificaciN}}</td>

    <th>Grupo Sanguíneo:</th>
    <td>{{items.grupoSanguineo}}</td>

    <th>Sexo:</th>
    <td colspan="4">{{items.sexo}}</td>
  </tr>

  <tr>
    <th>Grado al que aspira a ingresar:</th>
    <td colspan="2">{{items.gradoAlQueAspira}}</td>

    <th>Repite año académico:</th>
    <td colspan="6">{{items.repiteAOAcadMico}}</td>
  </tr>

  <tr>
    <th>Dirección:</th>
    <td colspan="4">{{items.direcciN}}6</td>

    <th>Barrio:</th>
    <td colspan="4">{{items.barrio}}</td>
  </tr>

  <tr>
    <th>Ciudad:</th>
    <td colspan="9">{{items.ciudad}}</td>
  </tr>

  <tr>
    <th>Teléfonos:</th>
    <td colspan="4">{{items.telFono}}</td>

    <th>E-mail:</th>
    <td colspan="4">{{items.email}}</td>
  </tr>

  <tr>
    <th>Qué religión profesa:</th>
    <td colspan="4">{{items.religiNQueProfesa}}</td>

    <th>E.P.S:</th>
    <td colspan="4">{{items.eps}}</td>
  </tr>
</table>
