.form-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 11.5px;
}

.form-table th,
.form-table td {
  border: 1px solid #333;
  padding: 6px 8px;
}

.form-table th {
  background: #d7f3f7;
  text-align: left;
  font-weight: bold;
}

.section-title {
  font-size: 16px;
  background: #d7f3f7 !important;
}

.section-subtitle {
  background: #bdf1f5;
  font-weight: bold;
  text-align: left;
}
