<div class="encabezado">
  <div class="logo">
    <img src="assets/logo.png" alt="logo" />
  </div>
  <div class="text">
    <h3>INSTITUCION EDUCATIVA NUEVA AMERICA</h3>
    <p>
      Aprobación Oficial por Resolución No. 1499 de la Secretaria de Educación
      Distrital de Cartagena - Bolívar
    </p>
    <p>NIT: 800008061-8 Código DANE # 313001000240</p>
    <h3>PREMATRICULA - 2026</h3>
    <p class="ficha">#Ficha: __________</p>
  </div>
  <div class="imagen">
    <img src="assets/fotoestudiante1.png" alt="imagen del estrudiante" />
  </div>
</div>
