.container {
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 25%;
}

.btn1,
.btn2 {
  border: none;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.btn1 {
  background-color: #19bbc2;
  color: white;
}

.btn1:hover {
  background-color: #198589;
}

.btn2 {
  background-color: #c7c7c7;
}

.btn2:hover {
  background-color: #7f7f7f;
  color: white;
}

.no-print {
  padding: 20px 0px;
}

.btns {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  @page {
    size: 8.5in 13in;
    margin: 8mm;
  }

  .container {
    width: 100%;
    height: 100%;
    page-break-after: avoid;
    page-break-before: avoid;
    page-break-inside: avoid;
    transform: scale(1); /* Ajusta el zoom para que quepa */
    transform-origin: top center;
    padding: 0px;
  }

  .no-print {
    display: none !important;
  }
}
