
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}